.icon-github,
.icon-linkedin,
.icon-twitter,
.icon-email {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.icon-github svg,
.icon-linkedin svg,
.icon-twitter svg,
.icon-email svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
}

.social-link .icon-github svg {
    fill: var(--color-text-primary);
}

.social-link:hover .icon-github svg,
.social-link:hover .icon-linkedin svg,
.social-link:hover .icon-twitter svg,
.social-link:hover .icon-email svg {
    fill: white;
}