@import './reset.css';
@import './variables.css';
@import './global.css';

@import './components/nav.css';
@import './components/hero.css';
@import './components/about.css';
@import './components/experience.css';
@import './components/skills.css';
@import './components/achievements.css';
@import './components/contact.css';
@import './components/footer.css';
@import './components/theme-toggle.css';
@import './components/social-icons.css';
@import './components/sidebar.css';